
<form class="form"  method="POST" action="{% if action_url %}{{ action_url }}{% endif %}" >

      {% csrf_token %}
      <!-- <label for="id_content">Content:</label></br> -->

      <div class="control">
        <!-- Que es un widget y como lo uso? Tarea -->
          <!-- <textarea class="textarea"  name="content" required="" id="id_content" maxlength="140" placeholder="Tweet Please"></textarea> -->
          {{form.as_p}}
          <input class="btn btn-primary btn-lg" type="submit" name="" value="{{btn_title}}">
      </div>


      <!-- {{form.as_p}} -->



</form>
